data/processed/*
!data/processed/.gitkeep

outputs/*
!outputs/.gitkeep
!outputs/**/.gitkeep

models/*
!models/.gitkeep

.ipynb_checkpoints/
**/.ipynb_checkpoints/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

.venv/
venv/
env/
.env

.DS_Store
Thumbs.db